<% if count.positive? %>
  <span class="badge badge-error badge-xs font-bold leading-none" aria-label="<%= count %> <%= t("users.notifications.index.title").downcase %>">
    <%= count > 99 ? "99+" : count %>
  </span>
<% end %>
